# VisualStudio/Unreal temporary files
.vs/
*.sdf
*.opensdf

# Build products
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/

# User-specific files
*.user
*.userprefs

# Mac
.DS_Store

# LFS pointers (keep them in repo)
